<pluginMetaData path="git-ext">
    <name>Git Channel Extension</name>
    <author>Kiran Ayyagari</author>
    <pluginVersion>${project.version}</pluginVersion>
    <mirthVersion>${plugin.supported.mc.versions}</mirthVersion>
    <url>http://keydap.com/</url>
    <description>Plugin for Version controlling Channels and CodeTemplates.</description>

    <serverClasses>
        <string>com.kayyagari.ChannelVersionController</string>
    </serverClasses>

    <clientClasses>
        <string>com.kayyagari.VersionHistoryTabPlugin</string>
    </clientClasses>

    <library type="SERVER" path="org.eclipse.jgit-${jgit.version}.jar" />
    <library type="SERVER" path="JavaEWAH-${jgit.JavaEWAH.version}.jar" />
    <library type="SERVER" path="slf4j-api-1.7.2.jar" />

    <library type="SHARED" path="objmeld-${objmeld.version}.jar" />
    <library type="SHARED" path="forms-1.0.5.jar" />

    <library type="SERVER" path="git-ext-server-${project.version}.jar" />
    <library type="SHARED" path="git-ext-shared-${project.version}.jar" />
    <library type="CLIENT" path="git-ext-client-${project.version}.jar" />
</pluginMetaData>